
name: Build and Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest


    steps:
    - name: Checkout the repo
      uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
    - name: NPM install the package
      run: npm install
    - name: Run frontend
      run: npm run start &

    - name: Run backend
      run: npm run server &
    
    - name: Install the playwright
      run: npx playwright install

    - name: Run test
      run: npm test
